<div class="card shadow pt-5">
    <div class="row">
        <div class="col-md-11"></div>
        <a class="col-md-1"><i class="bi bi-pen p-1 rounded h5 bg-secondary-subtle text-dark" routerLink="/head/profile/editprofile"></i></a>
    </div>
    <div class=" row px-5">
        <div class="col-md-10">
            <div class="h4">{{this.user?.name}}</div>
            <div class="text-decoration-underline">{{this.user?.username}}</div>
            <div class="h6">{{this.user?.address}}</div>
            <div class="h6 text-primary">{{this.user?.pnumber}}</div>
            <div >{{this.user?.email}}</div>
        </div>
        <div class="col-md-2" style="font-size: 70px;"><i class="bi bi-person-fill"></i></div>
    </div><hr>
    <div class="row">
        <div class="col-md-4 m-5">
            <div class="card shadow bg-success text-light">
                <div class="row p-3">
                        <div class="col-md-8 h3">Total Orders:</div>
                        <div class="col-md-4 h3">{{this.user?.order?.length}}</div>
                </div>
            </div>
        </div>
    </div>
</div>