<header class="sticky-top">
    <nav class="navbar navbar-expand-lg shadow  px-4 pt-2 bg-primary-subtle">
      <div class="container-fluid">
        <div class="h1 col-md-2 ">Logo</div>
          <ul class="navbar-nav mb-2 pt-4 col-md-9">
            <li class="nav-item active ">
              <a class="nav-link" aria-current="page" [routerLink]="['home']" [routerLinkActive]="['is-active']" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="loggedin? ['store']:['../login']" [routerLinkActive]="['is-active']">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['about']" [routerLinkActive]="['is-active']">About</a>
            </li>
          </ul>
      </div>
      <div class="col-md-1">
        <button *ngIf="!loggedin" class="btn btn-primary" (click)="onAuth()">Login/Signup</button>
        
      </div>
      <a *ngIf="loggedin" [routerLink]="['cart']" class="text-dark row" style="padding-right: 30px;">
        <i class="bi bi-cart h2 col-md-6 "></i>
        <div *ngIf="this.basicservice.product.length > 0" class="col-md-6 bg-danger text-light  rounded-circle" style="width:30px; height:20px; ">{{this.basicservice.product.length}}</div>
      </a>
      <a *ngIf="loggedin" [routerLink]="['profile']" class="text-dark"><i class="bi bi-person h2"></i></a>
    </nav>
  </header>
  <div style="min-height: 80vh;">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="px-4 pt-2 bg-primary-subtle">
    <div class="container" style="margin-top: 50px; padding-bottom: 180px;">
      <div class="row">
        <div class="col-md-2">
          <div class="h5 row">SHOP</div>
          <a class="row">Type A</a>
          <a class="row">Type B</a>
          <a class="row">Type c</a>
        </div>
        <div class="col-md-2 ">
          <div class="h5 row">HELP</div>
          <a  class="row">Contact Us</a>
          <a  class="row">FAQ</a>
          <a class="row">24/7 Support</a>
        </div>
        <div class="col-md-4 ">
          <div class="h5 row">ABOUT</div>
          <a class="row ">Our Story</a>
          <a class="row">Careers</a>
          <a class="row">Team</a>
        </div>
        <div class="col-md-4 row pt-3">
          <form class="row" [formGroup]="emailForm">
            <div class="col-md-8">
              <input type="text" class="form-control rounded-pill" placeholder="Your Email Address" formControlName="email">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-success rounded-pill" (click)="emailsend()" >Subscribe</button>
            </div>
          </form>
          <span class="text-danger" *ngIf="emailForm.controls.email.errors?.['pattern']">Email Invalid</span>
          <div class="col-md-7"></div>
          <div class="col-md-5 pt-3">
            <a href="https://www.instagram.com/ " class="text-danger"><i class="bi bi-instagram h3 mx-2"></i></a>
            <a  href="https://www.facebook.com/"><i class="bi bi-facebook h3 mx-2"></i></a>
            <a  href="https://twitter.com/?lang=en" class="text-dark"><i class="bi bi-twitter-x h3 mx-2"></i></a>
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </footer>