<div  class="bg-secondary d-flex justify-content-center align-items-center" style="height: 953px;">
<div class="m-5 p-3 shadow-lg border col-md-3 rounded bg-primary-subtle">
    <div >
        <div class="d-inline"><button  (click)="onback()"  class=" btn btn-primary"><i class=" bi bi-arrow-left"></i></button></div>
        <div class="form-group h1 d-inline text-center" style="padding-left: 120px;">Sign Up</div>
        <div class="pt-3 form-group">
            <label>Username:</label>
            <input type="text" [(ngModel)]="username" class="form-control">
        </div>
        <div class="pt-3 form-group">
            <label>Name:</label>
            <input type="text" [(ngModel)]="name" class="form-control">
        </div>
        <div class="pt-3 form-group">
            <label>Phone Number:</label>
            <input type="number" [(ngModel)]="pnumber" class="form-control">
        </div>
        <div class="text-danger" *ngIf="pnumber?pnumber.toString().length != 10:false">Must be 10 digit</div>
        <div class="pt-3 form-group">
            <label>Address:</label>
            <input type="text" [(ngModel)]="address" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" [(ngModel)]="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Comfirm Password:</label>
            <input type="password" [(ngModel)]="passwordc" class="form-control">
        </div>
        <div class="form-group">
            <button (click)="onregister()" class="mt-3 btn btn-primary">SignUp</button>
        </div>
    </div>
 </div>
</div>