<div class="row">
    <div class="col-md-4"></div>
    <div [formGroup]="signupForm" class="m-5 p-3 shadow-lg border col-md-4 rounded bg-light">
        <div >
            <button  (click)="onback()"  class=" btn btn-primary"><i class=" bi bi-arrow-left"></i></button>
            <div class="form-group h1 text-center" >Sign Up</div>
            <div class="pt-3 form-group">
                <label>Username<span class="text-danger">*</span></label>
                <input type="text" formControlName="username" class="form-control">
                <span class="text-danger" *ngIf="signupForm.controls.username.touched && !signupForm.controls.username.valid">username not valid,</span>
                <span *ngIf="signupForm.controls.username.errors?.['minlength'] && signupForm.controls.username.touched" class="text-danger">(username length must be 3-10)</span>
            </div>
            <div class="pt-3 form-group">
                <label>Name<span class="text-danger">*</span></label>
                <input type="text" formControlName="name" class="form-control">
                <span class="text-danger" *ngIf="signupForm.controls.name.touched && !signupForm.controls.name.valid">required field</span>
            </div>
            <div class="pt-3 form-group">
                <label>Phone Number<span class="text-danger">*</span></label>
                <input type="text" formControlName="pnumber" class="form-control">
                <span class="text-danger" *ngIf="signupForm.controls.pnumber.touched && !signupForm.controls.pnumber.valid">required field,</span>
                <span class="text-danger" *ngIf="signupForm.controls.pnumber.touched && this.signupForm.controls.pnumber.value?.length != 10">(Must be 10 digit)</span>
            </div>
            <div class="pt-3 form-group">
                <label>Address<span class="text-danger">*</span></label>
                <input type="text"formControlName="address" class="form-control">
                <span class="text-danger" *ngIf="signupForm.controls.address.touched && !signupForm.controls.address.valid">required field</span>
            </div>
            <div class="form-group">
                <label>Password<span class="text-danger">*</span></label>
                <input type="password" formControlName="password" class="form-control">
                <span class="text-danger" *ngIf="signupForm.controls.password.touched && !signupForm.controls.password.valid">password not valid,</span>
                <span class="text-danger" *ngIf="signupForm.controls.password.touched && !signupForm.controls.password.value?.match(x)">(Include a-z),</span>
                <span class="text-danger" *ngIf="signupForm.controls.password.touched &&!signupForm.controls.password.value?.match(y)">(Include A-Z), </span>
                <span class="text-danger" *ngIf="signupForm.controls.password.touched &&!signupForm.controls.password.value?.match(z)">(Include 0-9), </span>
                <span class="text-danger" *ngIf="signupForm.controls.password.touched && signupForm.controls.password.errors?.['minlength']">(Length Must Be >=8), </span>
                <span class="text-danger" *ngIf="signupForm.controls.password.touched &&!signupForm.controls.password.value?.match(w)">(Include special character), </span>
            </div>
            <div class="form-group">
                <label>Comfirm Password<span class="text-danger">*</span></label>
                <input type="password"formControlName="cpassword" class="form-control">
                <span class="text-danger" *ngIf="signupForm.controls.cpassword.touched && !signupForm.controls.cpassword.valid">required field</span>
            </div>
            <div class="form-group">
                <button (click)="onregister()" [ngClass]="this.signupForm.valid?'mt-3 btn btn-success':'mt-3 btn btn-secondary'">SignUp</button>
            </div>
        </div>
     </div>
    <div class="col-md-4"></div>
</div>