<div class="h2">wishlist</div>
<div *ngIf="message.length > 0" class=""> 
    <div *ngFor="let m of message">
      <div
        class="alert alert-success alert-dismissible fade show fixed-bottom "
        role="alert"
      >
        <strong>{{ m }}</strong> Added to your Cart.
      </div>
    </div>
</div>
<div class="row card-group">
    <div
      *ngFor="
        let product of wishlist 
      "
      class="col-3"
    >
      <div class="card m-3 shadow bg-primary-subtle" style="width: 18rem">
        <img src="{{ product.product_img }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="card-text">{{ product.product_type }}</p>
          <h5 class="card-text">{{ product.product_price + "$" }}</h5>
          <div class="row">
            <div class="col-md-9">
              <a  *ngIf="!(message.length > 0) || !checkid.includes(product.product_id)" class="btn btn-primary" (click)="oncart(product.product_id)"
                >Add To Cart</a>
              <button *ngIf="message.length > 0 && checkid.includes(product.product_id)" class="btn btn-success ">ADDED!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>